@import url("./variables.css");

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    color: #FAF0E6;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid coral; */
}