@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap');



:root {
    --primary-color: #FAF0E6;
    --secondary-color: #050C0FB2;
    --highlight: #ff5404f7;
    --background: rgba(255, 255, 255, 0.1);
    --font-size-1: 1rem;
    --font-size-12: 1.2rem;
    --font-size-15: 1.5rem;
    --font-size-2: 2rem;
    --font-size-25: 2.5rem;
    --gap-2: 2px;
    --gap-5: 5px;
    --gap-10: 10px;
    --padding-5: 5px;
    --padding-10: 10px;
    --padding-20: 20px;
    --mr-5: 50px;
    --mr-10: 10px;
    --mr-20: 20px;
    --bord-radius-5: 5px;
    --bord-radius-30: 30px;
    --drop-shadow-box: 0px 4px 4px rgba(0, 0, 0, 0.25);

  }