.hourBlockSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  flex-basis: 50%;
  min-height: 80px;
  gap: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.time {
  opacity: 0.5;
  align-self: center;
  min-width: 12%;
}

.icon:before {
  display: block;
  font-size: 3rem;
}

@media screen and (max-width: 480px) {
  .hourBlockSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    gap: 2px;
    min-height: fit-content;
  }
}
